<div class="footer">
  <ul class="footer-social">
    <li class="footer-social-item">
      <i class="fa fa-fw fa-twitter" aria-hidden="true"></i>
    </li>
    <li class="footer-social-item">
      <i class="fa fa-fw fa-facebook" aria-hidden="true"></i>
    </li>
    <li class="footer-social-item">
      <i class="fa fa-fw fa-weixin" aria-hidden="true"></i>
    </li>
    <li class="footer-social-item">
      <i class="fa fa-fw fa-whatsapp" aria-hidden="true"></i>
    </li>
  </ul>
  <ul class="footer-links">
    <li class="footer-link">homes</li>
    <li class="footer-link">services</li>
    <li class="footer-link">explore</li>
    <li class="footer-link">contact</li>
  </ul>
  <div class="footer-copywrite">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis, atque!
  </div>
</div>
