<div class="offering-band">
  {{#if intro}}
    <div class="offering-band-intro" data-aos="fade-up" data-aos-once="true" data-aos-duration="600">
      <h2 class="offering-band-intro-title cn">
        {{intro.title}}
      </h2>
      <p class="offering-band-intro-body cn">
        {{intro.body}}
      </p>
    </div>
  {{/if}}
  {{#if quote}}
  <div class="offering-band-quote" data-aos="fade-up" data-aos-once="true" data-aos-duration="600">
    <h5 class="offering-band-quote-body cn">
      {{quote.body}}
    </h5>
    <h5 class="offering-band-quote-attribution cn">
      {{quote.attribution}}
    </h5>
  </div>
{{/if}}
</div>
  <div class="offering-container {{slug}}">
    <div class="offering-description">
      <h1 class="offering-title">{{title}}</h1>
      <div class="offering-body">{{body}}</div>
    </div>
    <div class="offering-cta">
      <a href="{{ link }}" class="button">{{button-text}}</a>
    </div>
    <div class="offering-overlay"></div>
</div>
