body {
  margin: 0rem;
}

.cn {
  font-family: 'NotoSans', "Microsoft Yahei","微软雅黑", STXihei, "华文细黑", sans-serif;;
}

.hide {
  display: none;
}

.text-title {
  @include title;
  font-weight: 600;
}

i.nav-arrow {
  text-align: center;
  font-size: 3rem;
  padding: 1rem 1rem;
  color: $gold;
  display: flex;
  justify-content: center;
}

@font-face {
  font-family: 'Graphik';
  src:  url('/fonts/Graphik-Regular.woff') format('woff'),
        url('/fonts/Graphik-Regular.woff2') format('woff2'),
        url('/fonts/Graphik-Bold.woff') format('woff'),
        url('/fonts/Graphik-Bold.woff2') format('woff2')
        url('/fonts/Graphik-Light.woff') format('woff'),
        url('/fonts/Graphik-Light.woff2') format('woff2'),
        url('/fonts/NotoSans.woff') format('woff'),
        url('/fonts/NotoSans-Regulsr.woff2') format('woff2'),
        url('/fonts/NotoSans-Bold.woff') format('woff'),
        url('/fonts/NotoSans-Bold.woff2') format('woff2'),
        url('/fonts/font-awesome.woff2') format('woff2'),
        url('/fonts/font-awesome.woff2') format('woff');
}

#spinner-container {
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $primary-color;
  backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  .sk-spinner {
    background-color: $white;
    height: 5rem;
    width: 5rem;
  }
}
