.landing-container {
  display: flex;
  height: 100vh;
  background: url('http://d1aptev9i6q1tg.cloudfront.net/media/pictures/misty-mountain.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
