@mixin offering-container($image) {
  display: flex;
  position: relative;
  @include breakpoint(small) {
    flex-direction: column;
  };
  @include breakpoint(large) {
    flex-direction: row;
    padding-top: 8rem;
    padding-bottom: 8rem;
    padding-left: 12rem;
    height: 28rem;
  };
  @include breakpoint(medium) {
    flex-direction: row;
    padding-top: 4rem;
    padding-bottom: 4rem;
    padding-left: 6rem;
    height: 24rem;
  };
  color: $white;
  background: url($image) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.offering-container.homes {
  @include offering-container(
    'http://d1aptev9i6q1tg.cloudfront.net/media/pictures/service-apartment-11.jpg'
  );
}

.offering-container.services {
  @include offering-container(
    'http://d1aptev9i6q1tg.cloudfront.net/media/pictures/alvero-hands.jpg'
  );
}

.offering-container.explore {
  @include offering-container(
    'http://d1aptev9i6q1tg.cloudfront.net/media/pictures/overall.jpg'
  );
}

.offering {
  &-overlay {
    display: flex;
    position: absolute;
    background: rgba(0,0,0,0.20);
    left: 0; top: 0; right: 0; bottom: 0;
  }
  &-body {
    margin: 2rem 0rem 0rem;
  }
  &-description {
    @include breakpoint(small) {
      padding: 2rem 3rem;
    };
    @include breakpoint(medium) {
      padding: 0 2rem 0 0;
    };
    @include breakpoint(large) {
      flex-basis: 66.66%;
      padding: 0 10rem 0 0;
    };
    z-index: 1;
    align-self: center;
  }
  &-cta {
    @include breakpoint(small) {
      padding: 1rem 3rem;
    };
    @include breakpoint(medium) {
      align-self: flex-end;
      padding: 2rem 3rem;
    };
    z-index: 1;
    .button {
      font-weight: 600;
      &:hover {
        color: $white;
      }
    }
  }
}

.offering-band {
  display: flex;
  @include breakpoint(large) {
    padding: 5rem 15rem 5rem;
  };
  @include breakpoint(small) {
    padding: 2rem;
  };
  background-color: $white;
  &-intro {
    display: flex;
    @include breakpoint(small) {
      flex-direction: column;
    };
    @include breakpoint(medium) {
      flex-direction: row;
    };
    &-title {
      color: $gold;
      flex-basis: 25%;
    }
    &-body {
      color: $primary-color;
      flex-basis: 75%;
    }
  }
  &-quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    &-attribution {
      color: $gold;
    }
    &-body {
      color: $primary-color;
    }
  }
}
