<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sangha</title>
    <link rel="stylesheet" href="styles/styles.css" />
  </head>
  <body>

    {{> nav}}

    {{> splash context='homes' arrow=true }}

    {{> two.block
        text=intro
        slug=intro.slug
    }}

    <!-- Lanscape Section -->
    {{> banner.stack
        context=landscape.slug
        text=landscape
        image=landscape.image
    }}

    <!-- Villas Intro Section -->
    {{> big.banner.stack
        context=data.villas.intro.slug
        text=data.villas.intro.content
    }}

    <!-- Villas Architecture and Interiors Section -->
    {{> two.up.stack
        items=data.villas.architecture
    }}

    <!-- Apartments Intro Section -->
    {{> big.banner.stack
        context=data.apartments.intro.slug
        text=data.apartments.intro.content
    }}

    {{> two.block
        text=data.apartments.interiors.content
        slug=data.apartments.interiors.slug
    }}

    <!-- Designers Section -->
    {{> three.images
        title=data.designers.title
        images=data.designers.data
    }}

    <!-- Materials Section -->
    {{> two.block
        text=data.material
        slug=data.material.slug
    }}

    <!-- Partners Section -->
    {{> partner}}

    {{> menu}}

    {{> footer}}

    {{> spinner}}

  </body>
  <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
  <script src="https://use.fontawesome.com/02ebdbeb2a.js"></script>
  <script type="text/javascript" src="./js/modernizr.js"></script>
  <script type="text/javascript" src="./js/classie.js"></script>
  <script type="text/javascript" src="./js/menu.js"></script>
  <script type="text/javascript" src="./js/media.js"></script>
  <script type="text/javascript" src="./js/aos.js"></script>
  <script>
    AOS.init();
  </script>
</html>
